/* This file is for your main application css. */

@import "./phoenix.css";

.phx-logo-custom img {
  width: 30px;
  margin-right: 20px;
  display: inline;
}

.phx-logo-custom span {
  font-size: 38px;
}

.phx-logo-custom span.first {
  color: #222;
  font-weight: 800;
}

.phx-logo-custom span.second {
  color: #777;
}

@import "./vanilla_js.css";
